
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Wolrd  Clock</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    

</head>
<body>
    <nav id="navbar_" class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="NAME">Express World Clock</a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <li class="nav-item dropdown">
                        <a id="america_button" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            America
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="location.href='/America/Santo_Domingo'">Santo Domingo</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/America/Havana'">Havana</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/America/Buenos_Aires'">Buenos Aires</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/America/Caracas'">Caracas</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/America/Bogota'">Bogota</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/America/Chicago'">Chicago</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/America/Detroit'">Detroit</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/America/Jamaica'">Jamaica</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/America/Dominica'">Dominica</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/America/Lima'">Lima</a></li>
                        </ul>
                    </li>
    
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Europa
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="location.href='/Europe/Madrid'">Madrid</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Europe/Paris'">París</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Europe/Berlin'">Berlín</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Europe/Rome'">Roma</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Europe/London'">Londres</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Europe/Vienna'">Viena</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Europe/Amsterdam'">Ámsterdam</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Europe/Lisbon'">Lisbon</a></li>
                        </ul>
                    </li>
    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Asia
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="location.href='/Asia/Tokyo'">Tokyo</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Asia/Kabul'">Kabul</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Asia/Bangkok'">Bangkok</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Asia/Dubai'">Dubai</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Asia/Hong_Kong'">Hong Kong</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Asia/Seoul'">Seoul</a></li>
                        </ul>
                    </li>
    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Africa
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="location.href='/Africa/Cairo'">Cairo</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Africa/Accra'">Accra</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Africa/Banjul'">Banjul</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Africa/Bamako'">Bamako</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Africa/Dakar'">Dakar</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Africa/Luanda'">Luanda</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Oceania
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="location.href='/Australia/Tasmania'">Tasmania</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Australia/Sydney'">Sydney</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Australia/Victoria'">Victoria</a></li>
                            <li><a class="dropdown-item" onclick="location.href='/Australia/NSW'">New South Wales</a></li>
                            
                        </ul>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link"  href="#" onclick="change_styles()">Change Theme</a>
                    </li>


                </ul> 
                 
            </div> 
        </div> 
    </nav>
    

    <div class="Info">
      
        <h1 id="Current">Current time in   <%= Country %> </h1>
        <strong><h2 id="Time"> Time :  <%= time %>  24H</h2></strong>

        <strong><h2 id="Date"> Date :  <%= date %> </h2></strong>

    </div>



<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>

document.addEventListener('DOMContentLoaded', function() {
    function refreshroute() {
        location.reload(); 
    }

    setInterval(refreshroute, 60000);
});



</script>
<script src="/JS/index.js"></script>
</body>


</html>