<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Wolrd Time Clock</title>
</head>
<body>
    <div>
      
        <h1>Region:  <%= Country__ %> </h1>

        <strong><h2> Date :  <%= date %> </h2></strong>
        <strong><h2> Time :  <%= time %> </h2></strong>

       <strong> <h2>Time zone: <%= timezone %>  </h2></strong>


    </div>

    <p>
        <button onclick="location.href='/America/Santo_Domingo'">Santo Domingo</button>
        <button onclick="location.href='/Europe/Madrid'">Madrid</button>
        <button onclick="location.href='/Asia/Tokyo'">Tokyo</button>
        <button onclick="location.href='/Africa/Cairo'">Cairo</button>
    </p>

  
    
</body>
</html>