<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Wolrd Time Clock</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>



<ul id="navbar_"class="nav nav-tabs">
    <li class="nav-item">
    <h3>Express Wolrd Clock</h3>
    </li>
        <li class="nav-item dropdown">
            <button id="america_button" class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">America</button>
            <ul class="dropdown-menu">
                <li><a  class="dropdown-item"  onclick="location.href='/America/Santo_Domingo'">Santo Domingo</a></li>
                <li><a  class="dropdown-item" onclick="location.href='/America/Havana'">Havana</a></li>
                <li><a class="dropdown-item"  onclick="location.href='/America/Buenos_Aires'">Buenos Aires</a></li>
                <li><a class="dropdown-item"  onclick="location.href='/America/Caracas'">Caracas</a></li>
                <li><a class="dropdown-item"  onclick="location.href='/America/Bogota'">Bogota</a></li>
            </ul>
        </li>
     
        <li class="nav-item dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Europa</button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item"location.href='/Europe/Madrid'">Madrid</a></li>
            <li><a  class="dropdown-item" onclick="location.href='/Europe/Paris'">París</a></li>
            <li><a  class="dropdown-item" onclick="location.href='/Europe/Berlin'">Berlín</a></li>
            <li> <a  class="dropdown-item" onclick="location.href='/Europe/Rome'">Roma</a></li>
            <li> <a  class="dropdown-item" onclick="location.href='/Europe/London'">Londres</a></li>
            <li> <a  class="dropdown-item" onclick="location.href='/Europe/Vienna'">Viena</a></li>
            <li> <a  class="dropdown-item" onclick="location.href='/Europe/Amsterdam'">Ámsterdam</a></li>
            <li><a  class="dropdown-item" onclick="location.href='/Europe/Lisbon'">Lisboa</a></li>
            </ul>
        </li>
        
        <li class="nav-item dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Asia</button>
            <ul class="dropdown-menu">
            <li><a  class="dropdown-item" onclick="location.href='/Asia/Tokyo'">Tokyo</a></li>
        
            </ul>
        </li>

        <li class="nav-item dropdown">

            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Africa</button>
            <ul class="dropdown-menu">
            
            <li>
            <a  class="dropdown-item" onclick="location.href='/Africa/Cairo'">Cairo</a>
            </li>
            </ul>
        </li>
</ul>



    <div class="Info">
      
        <h1>Current time in   <%= Country %> </h1>
        <strong><h2> Time :  <%= time %>  24H</h2></strong>

        <strong><h2> Date :  <%= date %> </h2></strong>



    </div>



<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>document.addEventListener('DOMContentLoaded', function() {
    function refreshroute() {
        location.reload(); 
    }

    setInterval(refreshroute, 60000);
});</script>
</body>


</html>