
body{
    background-color: #fff;
    
}

#navbar_{
  
    padding-top: 1%;
    padding-left: 2%;
    background-color:white;
    border-bottom: none;

}

button{
    margin-right: 15px;
    margin-left: 20px;
    height: auto;
  
}

h3{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}


h1{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}


h2{
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}


.Info{

    margin-top: 20%;
    text-align: center;
}


#l_d_button{
  position: fixed;
  left: 90%;
}

#footer__{
  width:  100%;
  position: fixed;
  bottom: 0;
}